# 多因子模型（参考安信）

In [1]:
# 加载库
import numpy as np
import pandas as pd

# 文件名
DATAFILE = 'financial_data_20170323.xlsx'  # put your file path here

In [2]:
# 读取数据，处理数据
df = pd.read_excel(DATAFILE)

In [3]:
# for test
df.head()

,AMT,APTURNDAYS,ARTURN,ASSETSTURN,CASHRATIO,CASH_RECP_SG_AND_RS,CATOASSETS,CLOSE,CURRENT,DEBTTOASSETS,...,TOT_OPER_COST,TOT_OPER_REV,TOT_PROFIT,TRADE_CODE,TURN,VOLUME,WGSD_DEP_EXP_CF,WORKINGCAPITAL,YOY_OR,date
0,8.279756e+10,NaN,NaN,0.0063,NaN,NaN,NaN,6.947486,NaN,95.0996,...,6.085000e+09,1.080200e+10,4.718000e+09,1.0,127.791356,3.968379e+09,NaN,NaN,11.0860,2013-03-31
1,5.843115e+10,NaN,NaN,0.0136,NaN,NaN,NaN,5.556786,NaN,94.9895,...,1.353200e+10,2.342600e+10,9.906000e+09,1.0,97.177699,3.286987e+09,NaN,NaN,19.3621,2013-06-30
2,6.460645e+10,NaN,NaN,0.0216,NaN,NaN,NaN,6.621326,NaN,94.8851,...,2.203800e+10,3.734500e+10,1.538500e+10,1.0,119.412462,5.933096e+09,NaN,NaN,26.4603,2013-09-30
3,5.949293e+10,NaN,NaN,0.0298,NaN,NaN,NaN,6.827545,NaN,94.0752,...,3.223400e+10,5.218900e+10,2.004000e+10,1.0,85.994965,4.526709e+09,NaN,NaN,31.2964,2013-12-31
4,3.474943e+10,NaN,NaN,0.0081,NaN,NaN,NaN,6.002666,NaN,94.4066,...,9.388000e+09,1.610000e+10,6.697000e+09,1.0,55.146839,3.074934e+09,NaN,NaN,49.0465,2014-03-31